$color-primary: rgba(67, 13, 84, 0.73);
$color-primary-white: #fff;
$color-primary-grey: rgba(255, 255, 255, 0.25);

$color-secondary: #d9176c;
$color-secondary-light: #8d28ad;
$color-secondary-dark: #000000;
$color-primary-dark: rgba(0, 0, 0, 0.6);
$color-secondary-orange: #ff7a00;
